// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//
$primary: #366BA1;
$accent: #050A30;
$danger: #990000;
$background: #232337FF;
