@import "variables";

// Helpers

.pdf-accent-text {

    color: $accent;
    font-size: 12px;
    opacity: 0.75;
}

.pdf-danger-text {

    color: $danger;
}

.pdf-link {

    color: $primary;

    font-size: 12px;
    text-decoration: none;
}

.pdf-margin {

    margin: 24px 24px 0;
}

// Pdf Styles

.pdf-title-wrapper {

    .pdf-title {

        color: $primary;
        font-size: 24px;
    }

    .pdf-subtitle {

        position: absolute;
        right: -4px;
        top: -45px;
    }

    width: 100%;

    padding-top: 20px;
    padding-bottom: 4px;
    margin-top: -75px;

    background: white;
    border-bottom: 1px solid gray;

    z-index: 42;
}

.pdf-subtitle {
    @extend .pdf-accent-text;

    position: absolute;
    top: -18px;
}

.item-wrapper {
    @extend .pdf-margin;

    padding-bottom: 12px;
    border-bottom: 1px gray solid;

    page-break-inside: avoid;
}

.item-title {
    @extend .pdf-link;

    font-size: 16px;

    margin-bottom: -6px;
}

.item-link {

    font-size: 12px;
}

.item-snippet {
    @extend .pdf-accent-text;

    padding-top: 8px;
}

.parameter-title .item-headline {
    @extend .pdf-subtitle;

    font-size: 16px;
    opacity: 0.9;
}

.parameter-wrapper {

    margin: 18px 24px 0;
}

// Elements Styles

table {

    border-collapse: collapse;
}

td {

    @extend .pdf-accent-text;

    width: 200px;
    padding: 12px 0 12px;
    border-bottom: 1px gray solid;
}

td:nth-child(2n) {

    width: 446px;
    max-width: 446px;
    word-wrap: break-word;
}


header {

    position: fixed;
    top: -55px;

    z-index: 12;

    & > div {

        color: rgba(45, 45, 65, 0.5);
        font-size: 12px;
    }
}

