.pdf-accent-text, td, .item-snippet, .pdf-subtitle, .parameter-title .item-headline {
  color: #050A30;
  font-size: 12px;
  opacity: 0.75;
}

.pdf-danger-text {
  color: #990000;
}

.pdf-link, .item-title {
  color: #366BA1;
  font-size: 12px;
  text-decoration: none;
}

.pdf-margin, .item-wrapper {
  margin: 24px 24px 0;
}

.pdf-title-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  margin-top: -75px;
  background: white;
  border-bottom: 1px solid gray;
  z-index: 42;
}
.pdf-title-wrapper .pdf-title {
  color: #366BA1;
  font-size: 24px;
}
.pdf-title-wrapper .pdf-subtitle, .pdf-title-wrapper .parameter-title .item-headline, .parameter-title .pdf-title-wrapper .item-headline {
  position: absolute;
  right: -4px;
  top: -45px;
}

.pdf-subtitle, .parameter-title .item-headline {
  position: absolute;
  top: -18px;
}

.item-wrapper {
  padding-bottom: 12px;
  border-bottom: 1px gray solid;
  page-break-inside: avoid;
}

.item-title {
  font-size: 16px;
  margin-bottom: -6px;
}

.item-link {
  font-size: 12px;
}

.item-snippet {
  padding-top: 8px;
}

.parameter-title .item-headline {
  font-size: 16px;
  opacity: 0.9;
}

.parameter-wrapper {
  margin: 18px 24px 0;
}

table {
  border-collapse: collapse;
}

td {
  width: 200px;
  padding: 12px 0 12px;
  border-bottom: 1px gray solid;
}

td:nth-child(2n) {
  width: 446px;
  max-width: 446px;
  word-wrap: break-word;
}

header {
  position: fixed;
  top: -55px;
  z-index: 12;
}
header > div {
  color: rgba(45, 45, 65, 0.5);
  font-size: 12px;
}
