@import "./../variables";

.welcome-container {

    color: white;
    height: 100vh;
    width:100vw;
    text-align: center;
    background: $background;
    padding-top: 20vh;
}

.welcome-title {

    font-size: 7rem;
    color: white;
}

.welcome-links {

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome-links > a {
    font-size: 1.2rem;
    color: white;
    margin: 0 1rem;
}

.welcome-links > a:hover {
    color: rgba(255,255,255,0.7);
}

@media screen and (max-width: 1200px) {
    .welcome-title {
        font-size: 9vw;
    }

    .welcome-links > a {
        font-size: 0.8rem;
        margin: 0.5rem 1rem;
    }
}

